
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid" ng-app="AdminModule" ng-controller="AdminController">
    <h1 class="mt-4">Tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <div class="card mb-4">



        <div class="card-header">
            <strong class="card-title">Vùng Tìm Kiếm</strong>
        </div>
        <div class="card-body">
            <div class="col col-md-12">
                <div class="input-group">


                    <input type="text" id="input1-group2" name="input1-group2" placeholder="Username" class="form-control"><br />
                    <div class="input-group-btn">
                        <button class="btn btn-primary">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
                <br />
                <div class="input-group py-md-4">
                    <label for="checkbox1" class="form-check-label ">
                        <input type="checkbox" id="checkbox1" name="checkbox1" value="option1" class="form-check-input">Lọc Theo điều kiện
                    </label>
                </div>
                <div class="input-group py-md-4">
                    <label for="checkbox1" class="form-check-label ">
                        <input type="checkbox" id="checkbox1" name="checkbox1" value="option1" class="form-check-input">Lọc Theo
                    </label>
                </div>
                <div class="input-group py-md-4">
                    <label for="checkbox1" class="form-check-label ">
                        <input type="checkbox" id="checkbox1" name="checkbox1" value="option1" class="form-check-input">Lọc Theo điều kiện
                    </label>

                </div>
            </div>

        </div>


    </div>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
        <div class="card-body">
            <input ng-model="SearchKey" type="text" ng-text-change="KeyFilter()" />
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Thao tác</td>
                            <th>Username</th>
                            <th>Fullname</th>
                            <th>Phone</th>
                            <th>CreateDate</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in Agencys">
                            <td>{{$index+1}}</td>
                            <td>
                                <a href="#" ng-click="ViewDetail(a.UserID)"><i class="fa fa-eye" style="color:aqua"></i></a>
                                <a href="#" data-ng-href="@Url.Action("EditUser","HomeAdmin", new {area = "Admin" })/{{a.UserID}}"><i class="fa fa-edit"></i></a>
                                <a href="#" ng-click="Delete(a.UserID)"><i class="fa fa-times" style="color:red"></i></a>
                            </td>
                            <td>{{a.Username}}</td>
                            <td>{{a.Fullname}}</td>
                            <td>{{a.Phone}}</td>
                            <td>{{a.CreateDate}}</td>
                            <td ng-show="a.Status==0">Tạm khóa</td>
                            <td ng-show="a.Status==1">Đã kích hoạt</td>
                            <td ng-show="a.Status==2">Vô hiệu</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Areas/Admin/AngularJS/Admin/AdminModule.js"></script>
    <script src="~/Areas/Admin/AngularJS/Admin/AdminService.js"></script>
    <script src="~/Areas/Admin/AngularJS/Admin/AdminController.js"></script>
    @*<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>*@

    <link href="~/Content/public/css/styles.css" rel="stylesheet" />
    @*<script src="~/Content/public/assets/demo/datatables-demo.js"></script>*@

</div>
