
@{
    ViewBag.Title = "GetListDeviceStatus";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
 helo
    <script src="~/Content/public/js/main/DeviceControllerJS.js"></script>

<div class="container-fluid">
    <div id="tblbodydata" class="row"></div>
</div>


